.texto{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.texto h1{
    margin-top: 40px;
    margin-bottom: 20px;
    color: white;
}

.texto h3{
    color: white;
    
}

.devs{
    
    width: 60vw;
    height: 200px;
    display: flex;
    justify-content: right;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.devs img{
    margin-top: 10vh;
    height: 20vh;
    border-radius: 50%;
    border: solid 2px white;
}

.devs h3{
    margin-top: 10vh;
    color: white;
    margin-right: 20px;
    font-size: 20px;
}

.fabio{
    justify-content: left;
}
.fabio h3{
    margin-left: 20px;
}

.fabio {
    margin-bottom: 80px;
}